@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600);
body {
    margin: 0;
    font-family: Open Sans, sans-serif;
    font-weight: 300;
}

#mainbar {
    border-right: 1px solid #777;
    height: 100%;
    position: fixed;
    left: 0;
    padding: 10px 20px 10px 20px;
    background-color: rgba(255,255,255,0.9);
    z-index: 1;
    overflow-y: scroll;
}
#mainbar h1 { font-weight: 300; margin-top: 10px; margin-bottom: 10px; font-size: 36pt; }
#mainbar h2 { font-weight: 300; margin-top: 10px; margin-bottom: 10px; }
#mainbar h3 { font-weight: 300; margin-top: 0;    margin-bottom: 10px; color: #aaa; }
#mainbar p { text-align: justify; margin: 30px 0; }
#mainbar ul { list-style-type: none; padding-left: 20px; font-size: 13px; }
#mainbar ul li { padding-bottom: 10px; word-wrap: break-word; }

#mainbar .event-detail-holder { position: relative; }
#mainbar .event-detail-holder:not(:first-child) { border-top: 1px solid #ccc; }
#mainbar .event-detail-holder .close-button { right: 0; top: 14px; opacity: 0.3; position: absolute; cursor: pointer; }
#mainbar .event-detail-holder:first-child .close-button { top: 4px; }
#mainbar .event-detail-holder .close-button:hover { opacity: 0.8; }
#mainbar .event-detail-holder h2 { padding-right: 30px; }

#mainbar #no-event-placeholder h3 { margin-top: 100px; }

#controls { margin-top: 20px; padding-left: 40px; }
#controls ul.options { list-style-type: none; padding-left: 0;  font-size: 12px; }
#controls label { font-weight: normal; }
#controls ul.options li { float: left; width: 180px; }
#controls ul.options li.separator { clear: both; float: left; width: 100%; border-bottom: 1px solid #ddd; margin: 3px 0 5px 0; }

#control #search-bar input.hilite { background-color: #ffc; }
#controls .dropdown-toggle { cursor: pointer; }
#controls .dropdown-toggle.disabled { cursor: default; color: #aaa; }
#controls .dropdown-toggle:not(.disabled) p.hilite { background-color: #ffc; padding-left: 5px; padding-right: 5px; }
#controls .dropdown-toggle p.disabled { background-color: #eee; padding-left: 5px; padding-right: 5px; }
#controls ul.dropdown-menu { padding: 10px; margin: -5px 0 0 10px; }
#controls ul.dropdown-menu.disabled { background-color: #eee; }
#controls ul.dropdown-menu.disabled label { color: #777; }
#controls ul.multiselect-dropdown { width: 400px; }
#controls ul.dropdown-menu::before {
    position: absolute;
    top: -10px;
    left: 10px;
    display: inline-block;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ccc;
    border-left: 10px solid transparent;
    content: '';
}
#controls ul.dropdown-menu::after {
    position: absolute;
    top: -9px;
    left: 10px;
    display: inline-block;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    border-left: 10px solid transparent;
    content: '';
}
#controls ul.dropdown-menu.disabled::after { border-bottom: 10px solid #eee; }

#controls input[type=checkbox], #controls input[type=radio] {
    width: 20px;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

#search-bar .clear-button {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

#timeline {
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    padding-right: 0;
}

.d3-tip span.match { font-style: italic; }