@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600);
body {
    margin: 0;
    font-family: Open Sans, sans-serif;
    font-weight: 300;
}

h1 {
    text-align: center;
    color: #980002 ;
    font-size: 24pt;
} 

select {
    color: black;
    /* This is a single-line comment */
    text-align: center;
    margin: 100;
    display: table-cell;
    width: 100;
}

#timeline {
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
}

g.gridlines line {
    stroke-width: 1px;
    stroke: blue;
}

.tooltip {
    width: auto;
    position: absolute;
    visibility: hidden;
    color : black;
    cursor:default;
    background-color: #FFFFEE;
    border: 1px solid;
    padding: 4px;
    shape-rendering: crispEdges;
    pointer-events: none;
}

.cluster-g .cluster-rect {
    fill: #f7f7f7;
    stroke: #B2DCED;
    stroke-width: 1px;
}

.cluster-g.hovered .cluster-rect {
    stroke-width: 1px;
    stroke: #51C1ED;
}

.cluster-g.hovered .point-event {
    /*fill: #777;*/
}

.cluster-g .cluster-title {
    opacity: 0;
    font-size: 14px;
}

.multicluster-connector {
    fill: none;
    stroke-width: 1px;
    stroke: black;
    opacity: 0.1;
}

g.xaxis path,
g.xaxis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

button {
    display: table-cell;
    width: 150;
}

