body {
    margin: 0;
}

h1 {
    text-align: center;
    color: #980002 ;
    font-size: 24pt;
} 

select {
    color: black;
    /* This is a single-line comment */
    text-align: center;
    margin: 100;
    display: table-cell;
    width: 100;
}

#timeline {
    overflow-y: scroll;
}

.cluster-g .cluster-rect {
    fill: #D8EBF2;
}

.cluster-g .cluster-rect.hovered {
    stroke-width: 3px;
    stroke: red;
}

.cluster-g .cluster-title {
    visibility: hidden;
}

.cluster-g .cluster-title.hovered {
    visibility: visible;
}

button {
    display: table-cell;
    width: 150;
}

