h1 {
    text-align: center;
    color: #980002 ;
    font-size: 24pt;
} 

select {
    color: black;
    /* This is a single-line comment */
    text-align: center;
    margin: 100;
    display: table-cell;
    width: 100;
}

#timeline {
    overflow-y: scroll;
}

button {
    display: table-cell;
    width: 150;
}

