@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600);
body {
    margin: 0;
    font-family: Open Sans, sans-serif;
    font-weight: 300;
}

h1 {
    text-align: center;
    color: #980002 ;
    font-size: 24pt;
} 

select {
    color: black;
    /* This is a single-line comment */
    text-align: center;
    margin: 100;
    display: table-cell;
    width: 100;
}

#timeline {
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
}



.tooltip {
    width: auto;
    position: absolute;
    visibility: hidden;
    color : black;
    cursor:default;
    background-color: #FFFFEE;
    border: 1px solid;
    padding: 4px;
    shape-rendering: crispEdges;
    pointer-events: none;
}

.cluster-g .cluster-rect {
    fill: #D8EBF2;
}

.cluster-g.hovered .cluster-rect {
    stroke-width: 3px;
    stroke: red;
}

.cluster-g.hovered .point-event {
    /*fill: #777;*/
}

.cluster-g .cluster-title {
    visibility: hidden;
}

.cluster-g .cluster-title.hovered {
    visibility: visible;
}

button {
    display: table-cell;
    width: 150;
}

